/* src/App.css */
.App {
  text-align: center;
}

.App h1 {
  color: #333;
}

.App ul {
  list-style-type: none;
  padding: 0;
}

.App li {
  background: #f4f4f4;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

.App form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the form elements */
}

.App input {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.App button {
  padding: 10px 20px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.App button:hover {
  background: #0056b3;
}